.loginPageContainer {
    height: 100vh;
    background-color: #ececec;
    display: flex;
    justify-content: center;
}

.formContainer {
    width: 60%;
    margin-top: 100px;
}

.loginPage {
    /* width: 60%; */
    margin: 0 auto !important;
}

/* .loginPage button {
    margin: 0 auto;
} */