.flex {
    display: flex;
}

.fColumn {
    flex-direction: column;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.flexGrow {
    flex: 1;
}

.gap-md {
    gap: 10px
}

.gap-lg {
    gap: 20px;
}

.justifyEnd {
    justify-content: flex-end;
}