html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-layout-sider-zero-width-trigger,  .ant-layout-sider-zero-width-trigger-left {
  top: 8px !important;
}

.link {
  color: blue;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media screen and (max-width: 480px) {
  .ant-table-content {
    width: 100vw;
    overflow: scroll;
  }

  .ant-layout-content {
    margin: 0 !important;
    padding: 0 !important;
  }

  .ant-layout-sider {
    position: absolute !important;
    z-index: 10 !important;
  } 
}
