.mt-sm {
    margin-top: 5px;
}

.mt-md {
    margin-top: 10px;
}

.mt-lg {
    margin-top: 20px;
}

.mt-xl {
    margin-top: 80px;
}

.mb-lg {
    margin-bottom: 20px;
}


.ml-md {
    margin-left: 10px;
}

.ml-xl {
    margin-left: 80px;
}

.p-lg {
    padding: 20px;
}